<div class="row" id="holdform">
        <div class="card-group">

            <div class="col-sm-12" id="resultDisplay">
                <div class="card  m-2 mx-auto w-75 shadow" id="noResult">
                    <h5 id="questions" class="card-header text-center">Successfully <span id="pollUnit"></span></h5>
                    <div class="card-body ">
                        <div>
                           <h1>Result entered succesfully</h1>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

<div class="row" id="">
        <div class="card-group">

            <div class="col-sm-12" id="">
                <div class="card  m-2 mx-auto w-75 shadow" >   
                        <div class="card-header text-cente">
                            <h5 id="" >Successfully <span id="pollUnit"></span></h5>
                        </div>
                        <div class="card-body">
                             <h1 class="card-title">Result entered succesfully</h1>                        
                        </div>
                        <div class="card-footer text-muted text-justify">
                            <a href="/" class="btn btn-outline-secondary">go to home</a>
                            <a href="/enter-score" class="btn btn-outline-primary">enter Again</a>
                        </div>
                </div>
            </div>

        </div>
    </div>

</div>